@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap");

:root {
  font-family: "Manrope", "Segoe UI", sans-serif;
  color: #17233c;
  background: #f4f7fc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  background: radial-gradient(circle at 10% 0%, #ffffff, #f4f7fc 50%);
}

a {
  text-decoration: none;
}
